<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/transactions">Дашбоард</a>
      <a mat-list-item routerLink="/admin/transactions">Пользователи</a>
      <a mat-list-item routerLink="/admin/transactions">Покупки</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <button mat-icon-button (click)="sidenav.toggle()" class="hide-on-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Финансовое приложение</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
