<h2 mat-dialog-title>Добавить Подкатегорию</h2>

<form [formGroup]="form">
  <mat-dialog-content class="content">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Название</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Название обязательно
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Описание</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-checkbox formControlName="isNecessary">
      Обязательные траты?
    </mat-checkbox>
  </mat-dialog-content>

  <mat-dialog-actions align="end"  class="actions">
    <button mat-button type="button" (click)="close()">Отмена</button>
    <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="form.invalid">
      Сохранить
    </button>
  </mat-dialog-actions>
</form>
