table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
}

.mat-link {
  text-decoration: none;
  color: inherit;
}

.mat-link:hover {
  color: rgba(21, 42, 70, 0.61);
}
